.banner-holder{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    background-color: #efefef;
    /* background: linear-gradient(rgb(36, 36, 73,0.5), rgba(0, 0, 0, 0.58)), url('../../../images/login1.jpg'); ; */
}

.contant-holder{
    display: grid; 
    grid-template-columns: 1.5fr 1fr; 
    grid-gap: 20px; 
    align-items: center;
    justify-content: center;
}

.text-holder{
    width: 100%;
    height: 300px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.text-holder p{
    padding-left: 10px;
    margin-bottom: -10px;
}

.text-holder h1{
    padding-left: 10px;
    margin-bottom: 10px;
    color: #242449;
    font-size: 65px;
    font-weight: 900;
}

.text-holder h3{
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}



.button-group{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.button-group button{
    width: 60%;
    display: block;
    margin-top: 10px;
    padding: 12px 16px;
    background-color: #242449;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

.button-group button:hover{
    background-color: #f92537;
    color: white;
}

.img-holder{
    /* background-color: red; */
    /* background: linear-gradient(transparent, rgb(0,0,0,0.5)); */
    /* opacity: 1; */
}

.img-holder img{
    margin-top: 80px;
    width:350px;
    height: 450px;
    border-radius: 10px;
    /* opacity: 0; */
}

@media screen and (max-width:470px) {
    .contant-holder{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .text-holder{
        margin-left: 2px;
    }
    .text-holder h1{
        padding-left: 10px;
        margin-bottom: 10px;
        color: #242449;
        font-size: 45px;
        font-weight: 900;
    }
    .text-holder h3{
        padding-left: 10px;
        margin-top: -10px;
        font-size: 12px;
        margin-right: 5px;
    }
    .button-group{
        margin:0 auto;
    }
}

/* @media only screen and (min-width: 470px) and (max-width: 1181px){
    .contant-holder{
        display: none;
    }
} */