.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    z-index: 2;
    background: #eeedff;
    position: relative;
    /* overflow: hidden; */
    /* height:100vh; */
}



.menu-icon{
    width: 35px;
    position: absolute;
    top: 35px;
    right: 10%;
}

.menu-cross{
    width: 40px;
    position: absolute;
    /* top: 15%;
     */
     top:35px;
    right: 11%;
    z-index: 2;
}



.menu-box{
    width: 80%;
    margin: 0 auto;
    background: #242449;
    position: absolute;
    top:17%;
    left: 10%;
    padding:50px 0;
    border-radius: 6px;
}

.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    align-items: center;
    display: flex;
}

.right-links img{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
    transition: 1s ease-in;
}


.heading-btn{
    text-decoration: none;
    color:#fff;
    background: #f92537;
    padding: 15px 40px;
    border-radius: 30px;
    margin-right: 25px;
}

.menu-links{
}


.link-title{
    text-decoration: none;
    display: block;
    width: fit-content;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    padding-left: 30px;
}


.signout-button{
    display: block;
    width: fit-content;
    color: #fff;
    background: #f92537;
    margin: 30px 30px;
    font-size: 15px;
    border-radius: 8px;
    padding: 15px 30px;
    transition: .5s ease-in-out;
    font-weight: 600;
    border: none;
}

.signout-button:hover{
    background-color: white;
    color: #242449;
}